{% extends 'base.html' %}

{% load static %}

{% block content %}


    {% if entry_found %}
       
            <div class="col-lg-7 mt-3">
                {% for i in entry_found %}
                   <b>{{i.entry_name}}</b> <br>
                   <small style="font-size: 12px;">{{i.created_at}}</small>
                {% for a in entry_comment %}
                <div class="col-lg-12 mt-4">
                    {{a.comment_body}}
                </div>
                   <div class="row justify-content-between"> 
                        <div class="col-lg-3 my-auto">
                            <i class="fa-solid fa-cookie-bite" id="logo" style="font-size:15px ;"></i>
                            {{a.likes_to_the_comment}}
                        </div>
                        <div class="col-lg-5">
                            <div class="row justify-content-end">
                                <div class="col-lg-6">
                                    <div class="col-lg-12">
                                        {{a.writer.username}}
                                    </div>
                                    <div class="col-lg-12">
                                       <small style="font-size: 9px;">{{a.created_at}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}    
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="col-lg-12">
                        <b>{{searched_entry}}</b><br><br><br><br>
                        <h4>Bu konu hakkında ne düşünüyorsun?</h4>
                         <br>
    <input placeholder="{{searched_entry}} hakkında bize biraz bilgi ver" name="comment_body" style="height:180px; width: 500px;"></input>{{form.comment_body}}
                        <br>
                     
                        <input type="submit" name="new_comment_searched_entry_button" value="Submit">
    
                       
                    </div>
                </form>
            </div>
           
            {% endfor %}  

          
    {% else %}
    
        <div class="col-lg-6 ">
            <div class="row">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="col-lg-12">

                    <b>'{{searched_entry}}'</b>
                    <span>diye birşey bulunamadı</span><br><br>
                    <h4>'{{searched_entry}}' yeni bir entry olarak açılsın mı? </h4><br>

                    <button name="new_entry_not_in_database" type="submit" class="btn btn-primary">Gönder gitsin</button>
                    <button type="submit" name="not_today_button" class="btn btn-danger">Şimdilik kalsın</button>

                </div>
            </form>
            </div>
        </div>
        
    {% endif %}
  

{% endblock %}