{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flow</title>
</head>
<body>


    <h1>
        User Content
    </h1>
    
    <ul>
        <li>
            User rank
            <ul>
                <li>
                    up to 3 entry çaylak
                </li>
                <li>
                    3 to 6 entry alaylı
                </li>
                <li>
                    6 to 9 entry uzman
                </li>
            </ul>
        </li>
        <li>
            Takip edilen
        </li>
        <li>
            Takipçi
        </li>
        <li>
            Favoriler
        </li>
        <li>
            My entries
            <ul>
                <li>
                    My entrie's likes
              
                </li>
            </ul>
        </li>
    </ul>

    <br>

    <h1>
        Landing page
    </h1>

    <ul>
        <li>all entries</li>
        <li>entrie's content,
            <ul>
                <li>
                    that entrie's likes
                </li>
            </ul>
        </li>
    </ul>

    <br>

    <h1>
        Search
    </h1>
    <ul>
        <li>
            başlık, entry veya yazara göre arama yap
        </li>
    </ul>

    <br>

    <h1>
        Search by category
    </h1>
    <ul>
        <li>
            categories can change depending to the entries
        </li>
    </ul>
    <br>
    <h1>
        Entry page
    </h1>
    <ul>
        <li>
            submit entry 
        </li>
    </ul>
</body>
</html>