.topline{
    width: 100%;
    background-color: rgb(255, 138, 4);
    height: 5px;
}

.logo_left{
    font-size: 30px;
    font-weight: 600;
}

.logo_right{
    font-size: 30px;
    font-weight: 600;
    color:  rgb(255, 138, 4);
}

#logo{
    color:  rgb(255, 138, 4);
}

.search{
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
      
    }

    .search input{

     height: 40px;
     text-indent: 25px;
     border: 2px solid #d6d4d4;
    }


    .search input:focus{

     box-shadow: none;
     border: 2px solid  rgb(255, 138, 4);
    }

    .search button{
     position: absolute;
     top: 5px;
     right: 5px;
     height: 30px;
     width: 50px;
     background: rgb(92, 4, 255);
     display: flex;
     align-items: center;
     justify-content: center;
    }

.topbtn{
    width: 100px !important;
    margin-right: 10px !important; ;
}

.td {
    font-weight: 600;
    font-size: 16px;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_left{
    overflow-y: scroll;
    height:820px;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
}

.li{
    text-decoration: none;
    list-style: none;
    height: 50px;
    display: flex;
    align-items: center;
}

.li:hover{
    background-color:   rgb(253, 240, 224);
}

.li_a{
    text-decoration:none;
    color: black;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:  rgb(255, 138, 4);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:  rgb(255, 138, 4);
  }

button{
    background-color:  rgb(255, 138, 4) !important;
    border: none !important;
}

a{
    color:  rgb(255, 138, 4);;
    text-decoration: none;
}

a:hover{
    color:  rgb(255, 138, 4);;
}

.pp{
    width: 80px;
    height: 80px;
}

.circle_profile_icons{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.pp_icons_div :hover{
    background-color: rgb(255, 138, 4); 
    color: white;

}

.pp_circle_icons_itself{
    font-size: 17px;
    color: #868686;
}

.p_ullis{
    margin-right: 20px;
}

#entry_title{
    font-size: 20px;
}

.base_box_top{
    position: absolute;
    left: 1560px;
    top: 75px;
    border: 1px solid  rgb(255, 138, 4); 
    width: 180px;
    height: 310px;
    border-radius: 5px;
    padding: 10px;  
    background-color: white;
    display: none;
    
}

.base_box_top_div{
    margin-bottom: 10px;

}

.base_box_top_div :hover{
    background-color:rgb(255, 138, 4); 
}
